<ion-header [translucent]="true">
  <ion-toolbar color="#f8b415">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title id="Titulo">
      Restablecer Contraseña
    </ion-title>
  </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true">
  <form [formGroup]="formularioRecuperarContrasena">
    <div id="container">

      <ion-card>
        <ion-card-header>
          <ion-card-title>Recuperar contraseña</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <h2>Introdusca su correo electronico para recuprar su contraseña</h2>
          <ion-list>
            <ion-item>
              <ion-input formControlName="email" type="email" labelPlacement="floating" value="">
                <div slot="label">Correo electronico </div>
              </ion-input>
            </ion-item>
          </ion-list>

          <ion-button type="submit" fill="clear" (click)="validarCorreo()">Recuperar contraseña</ion-button>
        </ion-card-content>

      </ion-card>
    </div>
  </form>

</ion-content>