<ion-header [translucent]="true">
  <ion-toolbar color="#f8b415">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title id="Titulo">listado-alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">listado-alumnos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Asistencia</th>
        </tr>
      </thead>
      <tbody>
        <!-- Utiliza *ngFor para iterar sobre los alumnos presentes -->
        <tr *ngFor="let alumno of alumnosPresentes">
          <td>{{ alumno.nombreUsuario }}</td>
          <td>{{ alumno.contenido }}</td>
        </tr>
      </tbody>
    </table>
  </ion-content>
</ion-content>

<ion-footer id="footer">
  <ion-toolbar color="#f8b415">
      <ion-title>Acerca de DuocUC</ion-title>
    <p>©Copyright DuocUC 2023</p>
    <h6>Desarrollador de la app: @NaitoLabs</h6>
  </ion-toolbar>
</ion-footer>
