<ion-header [translucent]="true">
  <ion-toolbar color="#f8b415">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title id="Titulo">listado-alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">listado-alumnos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <table>
      <thead>
        <tr>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Asistemcia</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Juan Pedro</td>
          <td>Herrera Martinez</td>
          <td>Presente</td>
        </tr>
        <tr>
          <tr>
            <td>Pepe Martin</td>
            <td>Bahamondes Muñoz</td>
            <td>Presente</td>
          </tr>
          <tr>
            <td>Joan Marcelo</td>
            <td>Soto</td>
            <td>Presente</td>
          </tr>
          <tr>
            <td>Cristian Gonzalo</td>
            <td>Gonzalez Alcachofa</td>
            <td>Presente</td>
          </tr>
          <tr>
            <td>Kevin Maximiliano</td>
            <td>Peña Pizarro</td>
            <td>Ausente</td>
          </tr>
          <tr>
            <td>Bryan Byron</td>
            <td>Gómez Núñez</td>
            <td>Ausente</td>
          </tr>
      </tbody>
    </table>
  </ion-content>
</ion-content>


<ion-footer id="footer">
  <ion-toolbar color="#f8b415">
      <ion-title>Acerca de DuocUC</ion-title>
    <p>©Copyright DuocUC 2023</p>
    <h6>Desarrollador de la app: @NaitoLabs</h6>
  </ion-toolbar>
</ion-footer>
