<ion-header [translucent]="true">
  <ion-toolbar color="#f8b415">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title id="Titulo" >Acerca de la app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">acerca_de_la_app</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="Info">
    <h1>RegistrAPP:</h1>
    <img id="Imagen" src="/assets/Captura de pantalla 2023-12-07 012815.png" alt="">
    <p>Es una app para Duoc UC para poder pasar la asistencia de clases mucho mas facil y mas intuitivo.
      <br>
      <br>
      La app tiene como cuya funcion de escanear codigo qr para pasar la asistencia de clases, mientras se escanea se
      dejaria al alumno en presente mientras el docente muestra el codigo qr.
      <br>
      <br>
      La app tiene como objetivo, hacer que la asistencia de clases sea mas rapida y practica escaneando un codigo qr.
      <br>
      <br>
      La app esta en desarrollo aun, pero los desarrolladores esperamos que tenga exito y que esperamos y que resulte
      como
      tiene que esperar.
      <br>
      <br>
    </p>
    <img id="Imagen"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png" alt="">
    <p>DuocUC (Departamento Universitario Obrero Campesino de la Pontificia Universidad Católica de Chile) es una
      institución de educación superior técnica profesional chilena, creada el 7 de noviembre de 1968, organizada como
      instituto profesional y constituida sin fines de lucro como una fundación eclesial, autónoma y filial de la
      Pontificia Universidad Católica de Chile​.</p>
      <p>info sacada en <a href="https://es.wikipedia.org/wiki/Duoc_UC">wikipedia</a></p>
      <h1>NaitoLabs:</h1>
      <p>Es una empreza que esta encargada por Gustavo martinez que tiene solamente 2 trabajadores incluyendo el jefe que es gustavo, gustavo junto con emanuel arancibia quisieron tomar el trabajo para hacer la app para Duoc UC</p>
      <h3 id="Info_naitolabs">Gustavo Martinez:</h3>
      <img id="Imagen" src="/assets/ab67616d00001e02146104d632b780f06b8c53ee.jpg" alt="">
      <p id="Info_naitolabs">Jefe de NaitoLabs
        <br>
        Estudiante de Duoc UC (Analista programador computacional)
        <br>
        Jugador profesional de valorant (es hierro)
        <br>
        Streamer famoso en twitch (Tiene 378 seguidores top 100000 de chile 🤑🤑🤑)
      </p>
      <h3 id="Info_naitolabs">Emanuel Arancibia:</h3>
      <img id="Imagen" src="/assets/Fa612f5c7a6f3de494d573462cffa40b.webp" alt="">
      <p id="Info_naitolabs">Empleado de NaitoLabs
        <br>
        Estudiante de Duoc UC (Analista programador computacional)
        <br>
        Jugador profesional de league of legends
        <br>
        Diamante en el lol
      </p>
  </div>
</ion-content>