<ion-header [translucent]="true" *ngIf="!showContent">
  <ion-toolbar color="#f8b415">
    <ion-button slot="end" id="CerrarSesion" fill="clear" (click)="mostrarAlerta()">Cerrar Sesion</ion-button>
    <ion-title id="Titulo">inicio</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

 

<ion-content [fullscreen]="true" [class.transparent-background]="showContent">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<div id="container" *ngIf="!showContent">
    <ion-label color="#004d99">
      <h1  id="Bienvenida">Bienvenido {{ rolUsuario }} {{ usuarioUsuario }}</h1>
    </ion-label>
  <ion-img id="Imagen" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png"
    ></ion-img> 
</div>

<div id="ScanQR" *ngIf="!showContent">
  <ion-button (click)="startScan()" *ngIf="rolUsuario === 'Alumno'">
    <ion-icon slot="start" name="qr-code-outline"></ion-icon>
    Escanear Codigo QR
  </ion-button>
  <ion-button *ngIf="rolUsuario === 'Alumno'" routerLink="/lista-asistencia">
    <ion-icon slot="start" name="list-circle-outline"></ion-icon>
    Listas de asistencia
  </ion-button>
  <h5>{{ lectura }}</h5>
</div>

<div id="ScanQR">
  <ion-button *ngIf="rolUsuario === 'Docente'" routerLink="/listado-cursos">
    <ion-icon slot="start" name="school-outline"></ion-icon>
    Listado de cursos
  </ion-button>
  <ion-button *ngIf="rolUsuario === 'Docente'" routerLink="/lista-asistencia-docente">
    <ion-icon slot="start" name="list-circle-outline"></ion-icon>
    Listas de asistencia
  </ion-button>
</div>

<ion-footer id="footer" *ngIf="!showContent">
  <ion-toolbar color="#f8b415">
      <ion-title>Acerca de DuocUC</ion-title>
    <p>©Copyright DuocUC 2023</p>
    <h6>Desarrollador de la app: @NaitoLabs</h6>
  </ion-toolbar>
</ion-footer>